.BoulderUpload__Image {
  height: 330px;
  line-height: 300px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  outline: 1px dashed black;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  img {
    height: 100%;
  }
}
